<div class="contenedor-padre">
  <div class="contenedor"></div>
  <div class="contenedor-mitad">
    <div class="contenedor-logo">
      <img src="/imagenes/img_1.png" alt="">
    </div>
    <div class="contenedor-login">
      <div class="contenedor-correo">
        <h3>Correo electrónico</h3>
        <input type="text" placeholder="example@example.com">
      </div>
      <div class="contenedor-contraseña">
        <h3>Contraseña</h3>
        <input type="text" placeholder="Ingrese su contraseña">
      </div>
    </div>
    <div class="contenedor-botones">
      <button class="btn-sesion">Iniciar Sesión</button>
      <button class="btn-crear">Crear Cuenta</button>
    </div>
  </div>
</div>
